<div class="page-width" id="cart-demo-notification-outer">
    <div id="cart-demo-notification-inner">
        <p>This is a demo store. Checkout is disabled.</p>
    </div>
</div>


{% schema %}
  {
    "name": "t:sections.cart-demo-notification.name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
#cart-demo-notification-outer {
	padding: 0 5rem;
	text-align: center;
}

#cart-demo-notification-inner {
	background-color: #f64c4c;
	border: 1px solid;
	border-radius: 15px
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
